@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rock+Salt&display=swap');

header {
    display: flex;
    flex-direction: column;
    background-color: #59748f;
    color: white;
}
#headerWrapper {padding: 40px;}
header h1{
    font-size: 40px;
    margin: 0;
}
header h2 {
    font-family: "Rock Salt";
    font-size: 14px;
}
nav {	
    display: flex;
    background-color:#435166;	
    height: 50px;
    justify-content: center;
    align-items: center;
}
.navigation { 
    display: flex;
    list-style: none; 
    margin: 0;
}
.navigation li:first-child { display: flex;}
.navigation li { display: none;}
.navigation a {	
    color: #fff; 
    padding: .75rem;	
    text-align: center;	
    text-decoration: none;
    margin: 0;
}
.navigation a:hover {	
    color: #000; 
    background-color: #fff; 
    font-weight: 700;	
}
.responsive li { display: block; }
@media only screen and (min-width: 32.5em) {
.navigation li:first-child { display: none;	}
.navigation li { 
    display: block;
    margin-right: 1rem;}	
}
header, #weatherInfo, #contact, #summary h3, #articleText p {font-family: 'Roboto';}
#mainHeader img {
    float: left;
    padding: 0 30px;
}
h1, #articleText h3 {font-family: "Questrial";}
.active {
    font-weight: bold;
    text-decoration: underline;
}
#weatherInfo p {
    line-height: 2;
    margin: 0 15px;
}
#summaryContainer img {
    height: 300px;
    display: block;
    max-width: 80%;
    width: 100%;
    margin: auto;
}
#summary {
    width: 300px;
    position: absolute;
    left: 0;
    right: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    color: #59748f;
    background-color: white;
}
#summary input {
    width: 40px;
}
#summary h3 {
    font-size: 30px;
    margin: 10px 15px;
}
#weathercontainer {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    max-width: 1200px;
}
#weathercontainer img {
    width: 250px;
    height: 200px;
}
#weathercontainer figure{
    padding: 10px;
    border: 1px solid #59748f;
    box-shadow: 5px 5px 5px #d3d3d3;
    word-wrap: break-word;
}
article {
    width: 80%;
    padding: 15px;
    margin: 20px auto;
    height: 225px;
    color: #59748f;
    border: 1px solid #59748F;
}
#articleContent {
    width: 750px;
    margin: auto;
}
#articleText {
    width: 400px;
    float: left;
}
article img {
    width: 300px;
    float: right;
}
#contact {
    padding: 10px;
    margin: 10px;
}
footer {
    background-color: #59748f; 
    color: white;
}
#map {
    position: relative;
    top: -200px;
    float: right;
}
#contactDiv1 {
    width: 200px;
    margin: 0 70px;
}
footer p {line-height: 0.5;}
#footerbar {
    background-color: #333e4d;
    padding: 5px;
    text-align: center;
}
#footerbar p {
    line-height: 1;
    font-size: 14px;
}
@media only screen and (max-width: 946px) {
    nav ul li a {margin: 20px 15px;}
    article img {
        width: 200px;
        float: left;
        margin: 20px;
    }
    nav ul li a {
        margin: 20px 5px;
        font-size: 13px;
    }
    article img {clear: both;}
    article {height: 360px;}
    header h1 {font-size: 30px;}
    header h2 {font-size: 10px;}
    header img {width: 50px;}
}
@media only screen and (max-width: 930px) {
    nav ul li a {
        margin: 20px 5px;
        font-size: 13px;
    }
    article img {clear: both;}
    article {height: 360px;}
    header h1 {font-size: 30px;}
    header h2 {font-size: 10px;}
    header img {width: 50px;}
}